@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;

  --breakpoint-tablet: 900px;
  --breakpoint-mobile: 600px;
}

@keyframes pisca {
  70% {
    box-shadow: 0 0 0 12px transparent;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}

@layer utilities {
  .text-stroke {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
  }

  .shadow-blink {
    box-shadow: 0px 0px 10px -6px rgba(53, 83, 249, 0.8);
  }

  /* animação pisca (1.5s infinito) */
  .animate-pisca {
    animation: pisca 1.5s infinite;
  }

  /* transição genérica (caso queira ajustar globalmente) */
  .transition-smooth {
    transition: all 0.3s cubic-bezier(.3, .01, .2, 1);
  }
}